@charset "UTF-8";

body {
	font: 15px gulim, "굴림", sans -serif;
}

fieldset {
	border: none 0;
}

legend {
	position: absolute;
	left: -9999px;
}

#container {
	width: 520px;
	border: 1px solid black;
	padding: 20px 40px;
	margin: 0 auto
}

p {
	font -size: 12px;
	color: black
}

span {
	font -size: 12px;
	color: black
}