<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyper.block.memberMapper">

	<select id="selectMember" resultType="memberVO">
		SELECT ID, PW ,NAME FROM TEST
	</select>
	
	<insert id="insertGroup" parameterType="GroupModel">
		insert into `group` value(#{groupClass}, #{groupName}, #{userEmail}, #{account}, #{state}, #{oauth})
	</insert>
	
	<select id="selectGroupUserEmail" parameterType="String"  resultType="int">
		select count(*) from `group` where userEmail = #{userEmail}
	</select>

</mapper>