#container {
	width: 940px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #bcbcbc;
}

#header {
	padding: 20px;
	margin-bottom: 5px;
	width: 900px;
	height: 10px;
	border: 1px solid #bcbcbc;
	float: right;
	text-align: right;
}

#headermenu {
	padding: 20px;
	margin-bottom: 5px;
	width: 900px;
	height: 50px;
	float: left;
	border: 1px solid #bcbcbc;
}

#content {
	width: 900px;
	height: auto;
	padding: 20px;
	margin-bottom: 20px;
	float: right;
	border: 1px solid #bcbcbc;
}

#sidebar {
	width: 47%;
	padding: 10px;
	margin-right: 30px;
	margin-bottom: 20px;
	float: left;
	border: 1px solid #bcbcbc;
}

#aside {
	width:47%;
	margin-bottom: 20px;
	float: left;
	border: 1px solid #bcbcbc;
}

/* aside에서 이미지를 입력한 경우 이미지의 크기 설정  */
#aside img {
	width: 389px;
	height: auto;
}

/* 기본적인 session의 크기와 틀 설정 */
#session{
	clear: both;
	padding: 20px;
	border: 1px solid #bcbcbc;
}

#footer {
	clear: both;
	padding: 20px;
	border: 1px solid #bcbcbc;
}

/* 테이블의 td에 입력되는 문자는 가운데 정렬 */
td {
	text-align: center;
}